<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
        <h1 class="text-center text-white">Cerraste Sesión correctamente</h1>
        <div class="text-center">
            <img src="https://media0.giphy.com/media/3o7btQsLqXMJAPu6Na/giphy.gif" alt="byebye">
        </div>
        <a href="/api/users/login" class="btn btn-primary mt-2">Login</a>
        
    </div>
</div>